
.myself-title {
    justify-content: center;
    display:inline;
    z-index: 1;
}

.myself-title h1 {
    padding-top: 3vh;
    text-align: center;
    font-family:'Georgia';
    font-size: 6vw;
    letter-spacing: 8.6px;
}

.sub-title {
    padding: 3px;
    text-align: center;
    font-style: italic;
    font-family:'Georgia';
}

.myself-home {
    display: flex;
    flex-direction: row;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    border: none;
    background-color: transparent;
    font-family: monospace;
    position:relative;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    letter-spacing: 2.6px;
    font-size: 20px;
    top: 13px;
}

.buttons p:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.882);
    
}

.buttons button:hover {
    transform: translateY(-8px);
}



.left-side {
    width: 25%;
    background-color:#f1f1f1;
}

.left-side img {
    display: flex;
    width: 50%;
    border-radius: 50%;
    margin: 10px auto auto;
    /* justify-content: center; */
    /* align-items: center; */
}

.left-side h5 {
    letter-spacing: 4px;
    margin-top: 35px;
    font-weight: 600;
    text-align: center;
    font-family:'Georgia';
}

.left-side h6 {
    text-align: right;
    margin-right: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
}

.left-side p {
    font-size: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.external-links {
    display: flex;
    justify-content: center;
}

.left-side a {
    font-size: 30px;
    color: #35b18c;
    padding-left: 20px;
}


.skill-bar {
    width: 660px;
    margin-bottom: 30px;
}

.skill-bar p {
    font-size: 18px;
    display: flex;
    margin: 0px 0 0px 10px;
    text-align: center;

}



.left-side button p {
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    position:relative;
}

.right-side {
    width: 75%;
    background: linear-gradient(115deg, #ffe8ce 15%,#ffcec2 25%,#f0daff 35%, #dddbff 45%, #e7fcfd 55%);
    font-family:'Georgia';
    /* justify-content:center; */
    /* position: relative; */
    /* background-color: rgb(122, 196, 2); */
}

.mysummary {
    font-size: 200px;
    padding: 37px;
    padding-right: 100px;
}


.right-side h3 {
    margin: 20px 0 10px 30px;
    font-size: 33px;
    text-decoration: underline;
}


.right-side h4 {
    margin: 20px 3px 0 30px;
    padding: 1px;
    font-weight: 600;
}

.right-side h7 {
    font-weight: 100;
    font-size: 18px;
    margin: 3px 0 0 10px;
    position: absolute;
}

.right-side h5 {
    margin: 8px 0px 0 30px;
    font-size: 19px;
    color:rgb(185, 136, 0);
    font-weight: 600;
}

.right-side p {
    margin: 0px 0 0 30px;
    font-size: 19px;
}

.icon-size {
    font-size: 23px;
}


.showPopup {
    cursor: pointer;
}

.showPopup:hover {
    color: rgb(19, 132, 57);
}

