
.portfolio {
    background: linear-gradient(rgba(190, 253, 199, 0.897) 40%,rgba(111, 170, 120, 0.904) 100%,transparent);
    width: 100%;
    min-height: 100vh;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(12rem, 25rem));
    gap: 3rem;
    justify-content: center;
    /* padding: 50px 0 20px 0; */
}
