
.portfolio {
    background: linear-gradient(rgba(232, 253, 235, 0.897),transparent);
    background-color: rgba(111, 170, 120, 0.904);
    width: 100vw;
    height: auto;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(12rem, 25rem));
    gap: 3rem;
    /* margin-top: 20px; */
    /* margin: 20px 0; */
    justify-content: center;
}
