
.progressbar-container{
    height: 23px;
    width: 50%;
    background-color: #e0e0de;
    border-radius: 50px;
    justify-content: left;
    display: flex;
    margin: 5px auto 0 50px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);

}

.progressbar-inline {
    height: 100%;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
    /* display: inline-block; */
    /* vertical-align: middle; */
    background-size: 100%;
    text-align: inherit;
    font-family:'Georgia';
    transition: width 1s ease-in-out;
}

.progressbar-inline::after {

}

.progressbar-label {
    padding-left: 10px;
    /* margin: 20; */
    /* left: 20px; */
    color: white;
    font-weight: bold;
}

