
.wrapper {
    
}

.sidebar-main {
    display: flex;
    height: '100vh';
    overflow: scroll initial;
    margin-top: 100px;
    /* padding: 100px 0  0 300px; */
    position: absolute;
}

.cdbsidebar {
    color: #fff;
    background-color: #333;
}

.cdbsidebar a {
    text-decoration: none;
    color: inherit;
}

.csbsidebar-header {

}

.cdbsidebar-footer {
    text-align: center;
}

.sidebar-btn-wrapper {
    padding: 20px 5px;
}